/* bangla font */
@font-face {
  font-family: "kalpurush";
  src: url("../font/kalpurush.ttf");
}
@font-face {
	font-family: "klavika_medium";
	src: url("../font/klavika_medium.otf");
  }
@font-face {
	font-family: "suparna_unicode";
	src: url("../font/suparna_unicode.ttf");
  }
@font-face {
	font-family: "hind_siliguri_regular";
	src: url("../font/HindSiliguriLightRegular.ttf");
  }
@font-face {
	font-family: "LimaBosontoUnicode";
	src: url("../font/LimaBosontoUnicode.ttf");
  }

/* english font */
@font-face {
	font-family: 'Exo';
	font-style: normal;
	font-weight: 400;
	src: url(https://fonts.gstatic.com/s/exo/v21/4UaOrEtFpBISc36j.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "kalpurush";
	width: 100%;
	height: 100%;
	background-color: #30C9F9;
	background-image: url('../images/bg.jpg');
}
.hader-img-bg {
	height: auto;
	width: 100%;
	max-width: 100%;
	background-size: cover;
	position: relative;
}

/* developer logo CSS */
.aladaapp-logo {
	width: 40px;
	height: 40px;
	margin-top: 40px;
	margin-left: 35px;
}
.calendar-layout {
	
}
.main-title-layout {
	margin-bottom: 15px;
}
.main-title-layout h1 {
	text-align: center;
	font-size: 25px;
	font-family: "suparna_unicode";
	color: #000;
}
.main-title-layout h3 {
	text-align: center;
	font-size: 14px;
	color: #000;
	font-family: klavika_medium;
}
.main-title-layout p {
	font-family: hind_siliguri_regular;
	text-align: center;
	font-size: 13px;
	color: #000;
}
.current-time {
	text-align: center;
}
.ramadan-10day-title {
	text-align: center;
	font-size: 18px;
	color: #000;
	padding: 2px;
	margin-top: 13px;
	background-color: #08572800;
}
.haderTitle{
	background-color: #00A2E3;
}
.tableDesign {
	width: 100%;
	border: 1px solid rgba(248, 7, 7, 0.133);
	border-collapse: collapse;
}
.tableDesign tr td {
	width: 2%;
	text-align: center;
	padding: 0px 0px;
	color: #333;
	border: 3px solid #29CAFF;
	font-size: 13px;
	border-collapse: collapse;
}
.tableDesign tr:nth-child(even) {
	background-color: #C5EFFF;
}
.city-adjust-time-layout{
	display: flex;
	column-gap: 3px;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 10px;
}
.city-time-layout{
	width: 342px;
}
.ramadan-city-title {
	text-align: center;
	font-size: 15px;
	color: #000;
	padding: 2px;
	background-color: #08572800;
}
.footer-section {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 35px;
	background-color: #017ab3;
}
.footer-section h5{
	font-family: "Exo";
	text-align: center;
	font-size: 13px;
}
